{% extends "layout.twig" %}
{% set nav_active = 'index' %}
{% set nav_active = 'inicio' %}

{% block content -%}

  <section class="main-section" >
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <img src="{{ base_url() }}/images/capacete.png" style="width:100%; ">

          <div class="row">
            <div class="col-xs-12">
              <h1 class="text-center" style="font-family: 'Great Vibes', cursive; color: #006a99;">Guiar seus projetos aos melhores resultados!</h1>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-4">
              <img src="{{ base_url() }}/images/face.png" width="60px;"> <div class="fb-like" data-href="https://www.facebook.com/farol360/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="false  " style="margin-bottom: 10px;"></div>
            </div>
            <div class="col-xs-4">
              <img src="{{ base_url() }}/images/insta.png" width="60px;">
              <p>{{ instagram_farol.data.counts.followed_by }}</p>
            </div>
            <div class="col-xs-4">
              <img src="{{ base_url() }}/images/twitter.png" width="60px;">
              <div id="twitter-test">
              </div>
            </div>
          </div>


        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="card">
            <div class="card-content">
              <h3 class="">Fique por dentro.</h3>
              <p>Cadastre-se agora em nossa lista de emails para receber atualizações sobre trabalhos, novidades, entre outros.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

{%- endblock %}
{% block javascripts %} {{ parent()}}

{% endblock %}
